<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<connectionStrings>
		<add name="HydraConnectionString" connectionString="Server=(local);Database=Trading;User ID=trading;Password=trading;" providerName="" />
	</connectionStrings>

	<unity>
		<containers>
			<container>
				<types>
					<register type="Ecng.Serialization.IStorage, Ecng.Serialization" mapTo="Ecng.Data.HierarchicalDatabase, Ecng.Data">
						<constructor>
							<param name="name" value="Hydra Database" />
							<param name="connectionString">
								<value value="HydraConnectionString" typeConverter="Ecng.Configuration.ConnectionSettingsTypeConverter, Ecng.Configuration" />
							</param>
						</constructor>
						<property name="CommandType" value="StoredProcedure" />
						<lifetime type="singleton" />
					</register>

					<register type="StockSharp.Hydra.Core.HydraStorage, StockSharp.Hydra.Core" mapTo="StockSharp.Hydra.Core.HydraStorage, StockSharp.Hydra.Core">
						<constructor>
							<param name="storage">
								<dependency type="Ecng.Serialization.IStorage, Ecng.Serialization" />
							</param>
						</constructor>
						<!--<property name="BasePath" propertyType="System.String" value="" />-->
						<lifetime type="singleton" />
					</register>
				</types>
			</container>
		</containers>
	</unity>
</configuration>