USE [master]
GO

if SERVERPROPERTY('IsIntegratedSecurityOnly') = 1
begin
	-- http://www.sqlservercentral.com/Forums/FindPost848490.aspx
	DECLARE @INSTANCEID nvarchar(30) 
	DECLARE @STRVERSION nvarchar(30)
	DECLARE @SQLVERSION nvarchar(30)
	DECLARE @CMD nvarchar(2000)
	SET @SQLVERSION = (SELECT CONVERT(nvarchar(20),(SERVERPROPERTY('productversion'))))
	SET @INSTANCEID = ((SELECT CAST(SERVERPROPERTY('InstanceName') AS nvarchar)))

	IF (SELECT REPLACE(LEFT(@SQLVERSION,2),'.','')) = 10 
	BEGIN
		SET @STRVERSION = 'MSSQL10'
	END
	ELSE
	IF (SELECT REPLACE(LEFT(@SQLVERSION,2),'.','')) = 9
	BEGIN
		SET @STRVERSION = 'MSSQL'
	END

	IF @INSTANCEID IS NULL AND @STRVERSION = 'MSSQL'
	BEGIN
		SET @INSTANCEID = 1
	END
	ELSE
	IF @INSTANCEID IS NULL AND @STRVERSION = 'MSSQL10'
	BEGIN
		SET @INSTANCEID = 'MSSQLSERVER'
	END

	declare @REG_PATH nvarchar(1000)

	set @REG_PATH = N'Software\Microsoft\Microsoft SQL Server\' + @STRVERSION +'.'+ @INSTANCEID + '\MSSQLServer'

	exec xp_regwrite N'HKEY_LOCAL_MACHINE', @REG_PATH, N'LoginMode', REG_DWORD, 2
	
	PRINT N'Необходимо перезапустить SQL Server'
end

-- To allow advanced options to be changed.
EXEC sp_configure 'show advanced options', 1
GO
-- To update the currently configured value for advanced options.
RECONFIGURE
GO
sp_configure 'clr enabled', 1
GO
RECONFIGURE
GO
-- To enable the feature.
EXEC sp_configure 'xp_cmdshell', 1
GO
-- To update the currently configured value for this feature.
RECONFIGURE
GO

IF NOT EXISTS(SELECT name FROM sys.sql_logins WHERE name = 'trading')
begin
	CREATE LOGIN trading WITH PASSWORD = 'trading', CHECK_POLICY = OFF;
end
GO

EXEC xp_cmdshell N'MD C:\StockSharp\', no_output
GO

/****** Object:  Database [Trading]    Script Date: 02/11/2011 19:53:50 ******/
CREATE DATABASE [Trading] ON  PRIMARY 
( NAME = N'Trading', FILENAME = N'C:\StockSharp\Trading.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Trading_log', FILENAME = N'C:\StockSharp\Trading_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trading].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [trading]
GO

/****** Object:  User [trading]    Script Date: 02/12/2011 23:37:51 ******/
CREATE USER [trading] FOR LOGIN [trading] WITH DEFAULT_SCHEMA=[dbo]
GO

/****** Object:  Table [dbo].[Exchange]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange](
	[Name] [nvarchar](64) NOT NULL,
	[Times] [nvarchar](max) NOT NULL,
	[SpecialWorkingDays] [nvarchar](max) NOT NULL,
	[SpecialHolidays] [nvarchar](max) NOT NULL,
	[ExtensionInfo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Exchange] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  SqlAssembly [Ecng.Data.SqlServer]    Script Date: 04/07/2011 16:05:13 ******/
CREATE ASSEMBLY [Ecng.Data.SqlServer]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C01030080195C4A0000000000000000E00002210B0108000010000000060000000000009E2E0000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000482E00005300000000400000E802000000000000000000000000000000000000006000000C000000D02D00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000A40E0000002000000010000000020000000000000000000000000000200000602E72737263000000E8020000004000000004000000120000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001600000000000000000000000000004000004200000000000000000000000000000000802E0000000000004800000002000500B42200001C0B000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B30060028020000010000110002280900000A16FE01130511052D0B7201000070730A00000A7A03166AFE0416FE01130511052D0B720D000070730B00000A7A0E04280900000A16FE01130511052D0D722300007002280C00000A100405280900000A16FE01130511052D077233000070100304166AFE0216FE01130511052D100072390000700A04176A591002002B2304156AFE0116FE01130511052D0A0072930000700A002B0B72B1000070730B00000A7A72BD0000701B8D01000001130611061602A211061705A21106180E05A21106190E04A211061A06A21106280D00000A730E00000A0B076F0F00000A722C020070038C110000016F1000000A2604156AFE01130511052D17076F0F00000A7244020070048C110000016F1000000A260E05280900000A130511053AD2000000001F0A8D0100000113061106160E06A21106170E07A21106180E08A21106190E09A211061A0E0AA211061B0E0BA211061C0E0CA211061D0E0DA211061E0E0EA211061F090E0FA211060C160D007E010000040E056F1100000A6F1200000A13072B4211076F1300000A7415000001130400076F0F00000A11046F1400000A6F1500000A130511052D1A076F0F00000A11046F1400000A08092517580D9A6F1000000A260011076F1600000A130511052DB1DE1D110775180000011308110814FE01130511052D0811086F1700000A00DC00007252020070731800000A1309281900000A076F1A00000A00DE14110914FE01130511052D0811096F1700000A00DC002A011C00000200860153D9011D00000000020004020E120214000000004A72860200701F23731B00000A80010000042A0042534A4201000100000000000C00000076322E302E35303732370000000005006C000000BC020000237E0000280300003804000023537472696E677300000000600700009802000023555300F8090000100000002347554944000000080A00001401000023426C6F620000000000000002000001571502000900000000FA013300160000010000001C000000020000000100000002000000100000001B0000000800000001000000010000000300000000000A0001000000000006005C0055000A008200630006002701150106004401150106006101150106009F0180010600C001AD011F00D401000006000302E30106002302E3010E0068024D0206007E0255000600930255000600A90255000E00E202CC020E00ED02CC020600130355000E001903CC020A003303630006005E034B030A00840363000A008A0363000E00AF039C030600D70355000E00EB03CC020E00F9034D020E0004044D020A002B04630000000000010000000000010001008101100022003800050001000100310088000A0050200000000096008F000E000100A022000000009118240494001100000001009A0000000200A00000000300AB0000000400B10000000500BF0000000600C70000000700CE0000000800D50000000900DC0000000A00E30000000B00EA0000000C00F10000000D00F80000000E00FF0000000F000601000010000D0119003E01220021003E01220029003E01220031003E01220039003E01270049003E012D0051003E01320059003E013200610085023B0069003E01220071003E0122006100C50240006100C502460079003E012200790004034D0081002603520011004303590099006A035F00A10078036400B10092036800B900C5036C00A100CE037100C100E3033200C9003E012200D1000C047500D90015047A0011003E0198002000430036002E001B00B3002E001300B3002E000B009F002E002300B9002E002B00E3002E003300EC002E003B00F50080000480000000000000000000000000000000003800000002000000000000000000000001004C0000000000020000000000000000000000010055000000000002000000000000000000000001004102000000000000003C4D6F64756C653E0045636E672E446174612E53716C5365727665722E646C6C0053716C457874656E64656450726F636564757265730045636E672E446174612E53716C536572766572006D73636F726C69620053797374656D004F626A6563740053797374656D2E546578742E526567756C617245787072657373696F6E73005265676578005F7265676578005061676553656C656374007461626C65007374617274496E64657800636F756E74006F726465724279436F6C756D6E00636F6C756D6E730066696C74657200706172616D3100706172616D3200706172616D3300706172616D3400706172616D3500706172616D3600706172616D3700706172616D3800706172616D3900706172616D31300053797374656D2E5265666C656374696F6E00417373656D626C795469746C65417474726962757465002E63746F7200417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E4174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300477569644174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053797374656D2E44617461004D6963726F736F66742E53716C5365727665722E5365727665720053716C50726F63656475726541747472696275746500537472696E670049734E756C6C4F72456D70747900417267756D656E744E756C6C457863657074696F6E00417267756D656E744F75744F6652616E6765457863657074696F6E00466F726D61740053797374656D2E446174612E53716C436C69656E740053716C436F6D6D616E640053716C506172616D65746572436F6C6C656374696F6E006765745F506172616D657465727300496E7436340053716C506172616D65746572004164645769746856616C7565004D61746368436F6C6C656374696F6E004D6174636865730053797374656D2E436F6C6C656374696F6E730049456E756D657261746F7200476574456E756D657261746F72006765745F43757272656E74004D617463680043617074757265006765745F56616C75650053797374656D2E446174612E436F6D6D6F6E004462506172616D65746572436F6C6C656374696F6E00436F6E7461696E73004D6F76654E6578740049446973706F7361626C6500446973706F73650053716C436F6E6E656374696F6E0053716C436F6E746578740053716C50697065006765745F506970650045786563757465416E6453656E64002E6363746F720052656765784F7074696F6E7300000B7400610062006C00650000157300740061007200740049006E00640065007800000F5B007B0030007D005D002E002A0000054900640000596200650074007700650065006E00200040005300740061007200740049006E00640065007800200061006E006400200040005300740061007200740049006E0064006500780020002B002000400043006F0075006E007400001D3E003D00200040005300740061007200740049006E00640065007800000B63006F0075006E00740000816D0D000A000900090009000900770069007400680020004E0075006D0062006500720065006400200061007300200028000D000A0009000900090009000900730065006C00650063007400200072006F0077005F006E0075006D006200650072002800290020006F0076006500720028006F00720064006500720020006200790020005B007B0030007D005D002E007B0031007D00290020004E005F0052006F0077002C0020007B0033007D002000660072006F006D0020005B007B0030007D005D0020007B0032007D000D000A00090009000900090029000D000A000900090009000900730065006C0065006300740020002A002000660072006F006D0020004E0075006D00620065007200650064000D000A00090009000900090009007700680065007200650020004E005F0052006F00770020002D002000310020007B0034007D000D000A0009000900090009006F00720064006500720020006200790020004E005F0052006F007700011740005300740061007200740049006E00640065007800000D400043006F0075006E007400003363006F006E007400650078007400200063006F006E006E0065006300740069006F006E0020003D0020007400720075006500001140005C0077002A0028003F007800290000B0BFE810F0E19344B48F4A55F14CE7BD0008B77A5C561934E08903061209130010010E0A0A0E0E0E1C1C1C1C1C1C1C1C1C1C042001010E0520010111210420010108032000010401000000040001020E0500020E0E1C0600020E0E1D1C042000124106200212490E1C052001124D0E04200012510320001C0320000E042001020E03200002040000126D05200101123D13070A0E123D1D1C081255021D1C12511261126503000001062002010E11711301000E446174612E53716C53657276657200000501000000002901002434353237626630642D643962372D343462312D396465632D30303334623432383361646300000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000080195C4A00000000020000005C000000EC2D0000EC0F000052534453B51035218BCE0F4BA62D8DA28DBA427001000000453A5C21536F66745C2E4E45545C45636E675C446174612E53716C5365727665725C6F626A5C44656275675C45636E672E446174612E53716C5365727665722E70646200702E000000000000000000008E2E0000002000000000000000000000000000000000000000000000802E000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000900200000000000000000000900234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004F0010000010053007400720069006E006700460069006C00650049006E0066006F000000CC010000010030003000300030003000340062003000000048000F000100460069006C0065004400650073006300720069007000740069006F006E000000000044006100740061002E00530071006C0053006500720076006500720000000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000050001800010049006E007400650072006E0061006C004E0061006D0065000000450063006E0067002E0044006100740061002E00530071006C005300650072007600650072002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000005800180001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000450063006E0067002E0044006100740061002E00530071006C005300650072007600650072002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000A03E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [Ecng.Data.SqlServer]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A4453000000000200000200000017000000740000000000000015000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF3800C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000D00FFFF04000000038000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310180195C4A01000000B51035218BCE0F4BA62D8DA28DBA4270000000000000000001000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000AFA0B702022A3F2354A3BCF6D3BAFF9C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003A020000000000003A020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000007800000000453A5C21536F66745C2E4E45545C45636E675C446174612E53716C5365727665725C53716C457874656E64656450726F636564757265732E63730000653A5C21736F66745C2E6E65745C65636E675C646174612E73716C7365727665725C73716C657874656E64656470726F636564757265732E637300040000003C000000010000003D000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001800000009B08C41E4504CA0101000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000003D000000280000001BE2300128F8714758000000010000003C0000003D0000006500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000032002A11000000006802000000000000280200000000000000000000010000060000000001000000005061676553656C6563740016000311040000002C0200002802000000000000010000000A0024115553797374656D00220024115553797374656D2E546578742E526567756C617245787072657373696F6E73001A0024115553797374656D2E446174612E53716C436C69656E7400001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E002011050000000100001100000000000004004353243424303030300000001E002011060000000100001100000000000004004353243024303030310000001E002011070000000100001100000000000004004353243524303030320000001E002011080000000100001100000000000004004353243024303030330000001E002011090000000100001100000000000004004353243324303030340000001E00201100000000010000110000000000000000636F756E7446696C746572001A00201101000000010000110000000000000000636F6D6D616E6400160003113800000028020000D20000002601000001000000220020110200000001000011000000000000000065787465726E616C506172616D7300001A00201103000000010000110000000000000000696E6465780000001600031198010000240200005100000086010000010000001A002011040000000100001100000000000000006D6174636800000002000600020006000200060036000404C93FEAC6B359D649BC250902BBABB460000000004D00440032000000040100000400000014000000040004000000000000000000020006002E002A1100000000CC02000000000000120000000000000000000000020000062802000001000000002E6363746F72002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C0000000100000602000600F2000000AC0200000000000001000100280200000000000037000000A0020000000000001700008001000000180000800C000000EEEFFE8010000000190000801B0000001B00008025000000EEEFFE80290000001C000080340000001E00008040000000EEEFFE80440000001F00008051000000210000805C000000EEEFFE806000000022000080670000002600008071000000EEEFFE80750000002700008076000000280000807C00000029000080820000002A00008083000000EEEFFE80850000002B0000808F000000EEEFFE80930000002C000080940000002D0000809A0000002E0000809B000000EEEFFE809D00000030000080A800000032000086DD0000003A000080F40000003C000080FB000000EEEFFE80FF0000003D000080160100003F0000801F010000EEEFFE802601000040000080270100004100008070010000430000807201000044000080730100004400008086010000EEEFFE80880100004400008096010000450000809701000046000080AB010000EEEFFE80AF01000047000080C901000048000080CA01000044000080D3010000EEEFFE80F6010000EEEFFE80F701000049000080F80100004B000080040200004C00008010020000EEEFFE8026020000EEEFFE80270200004D00008003000400040024000000000005002E00040017000000000005003900040026000000000005002F0004002C000000000005001A000400120000000000040005000500420005000D0004000500000000000900190000000000040005000500240004000500000000000500340004004B0004003F00040014000000000005003600040026000000000004000500050074000500130005000C001D003300000000000E00190005000600060034000000000007004D00050006001A001C000000000000000000040005000400090005002D00000000000000000003000400F200000030000000280200000100010012000000000000000200000024000000000000001100008011000000EEEFFE800300B60000000000F400000008000000010000000000000010000000000000001C000000340000004C0000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF120000000140200004D000000010000001D0000000100000001000000010000003500000001000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C00000018000000240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A002511000000000400000001005061676553656C6563740000000016002911000000000400000001003036303030303031000016002511000000006C02000001002E6363746F720000000016002911000000006C0200000100303630303030303200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000043000000000074006100FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101010000000A0000880B0027C60C00B00F740000003C0000002C00000048000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000900D002000000000000FC0200000100000060011710000000000000000045636E672E446174612E53716C5365727665722E53716C457874656E64656450726F6365647572657300343732414446344400002DBA2EF10100000000000000280200000000000000000000000000000000000001000000280200001200000000000000000000800000000000000000020002000D01000000000100FFFFFFFF000000003A0200000802000000000000FFFFFFFF00000000FFFFFFFF010001000000010000000000453A5C21536F66745C2E4E45545C45636E675C446174612E53716C5365727665725C53716C457874656E64656450726F636564757265732E63730000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0800FFFFFFFFFFFFFFFFFFFF00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310180195C4A01000000B51035218BCE0F4BA62D8DA28DBA4270680000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F653A5C21736F66745C2E6E65745C65636E675C646174612E73716C7365727665725C73716C657874656E64656470726F636564757265732E6373000400000006000000010000001B00000000000000220000000700000011000000060000000A0000000500000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D00000018000000C00000003800000093010000000000009C000000800000005800000028000000E0050000440200002C0000006400000003000000130000000600000012000000090000000A00000007000000080000000B0000000C0000000D0000000E0000000F000000110000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000014000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'Ecng.Data.SqlServer.pdb'
GO
ALTER ASSEMBLY [Ecng.Data.SqlServer]
ADD FILE FROM 0xEFBBBF23726567696F6E205573696E6720446972656374697665730D0A0D0A7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A0D0A23656E64726567696F6E0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C652822446174612E53716C53657276657222295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A0D0A2F2F2054686520666F6C6C6F77696E67204755494420697320666F7220746865204944206F662074686520747970656C696220696620746869732070726F6A656374206973206578706F73656420746F20434F4D0D0A5B617373656D626C793A2047756964282234353237626630642D643962372D343462312D396465632D30303334623432383361646322295D
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [Ecng.Data.SqlServer]
ADD FILE FROM 0x6E616D6573706163652045636E672E446174612E53716C5365727665720D0A7B0D0A0923726567696F6E205573696E6720446972656374697665730D0A0D0A097573696E672053797374656D3B0D0A097573696E672053797374656D2E546578742E526567756C617245787072657373696F6E733B0D0A097573696E672053797374656D2E446174612E53716C436C69656E743B0D0A0D0A097573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A0923656E64726567696F6E0D0A0D0A097075626C69632073746174696320636C6173732053716C457874656E64656450726F636564757265730D0A097B0D0A090923726567696F6E2050726976617465204669656C64730D0A0D0A0909707269766174652073746174696320726561646F6E6C79205265676578205F7265676578203D206E6577205265676578284022405C772A283F7829222C2052656765784F7074696F6E732E49676E6F726543617365207C2052656765784F7074696F6E732E4D756C74696C696E65207C2052656765784F7074696F6E732E49676E6F72655061747465726E576869746573706163652F2A207C2052656765784F7074696F6E732E436F6D70696C65642A2F293B0D0A0D0A090923656E64726567696F6E0D0A0D0A09095B53716C50726F6365647572655D0D0A09097075626C69632073746174696320766F6964205061676553656C65637428737472696E67207461626C652C206C6F6E67207374617274496E6465782C206C6F6E6720636F756E742C20737472696E67206F726465724279436F6C756D6E2C20737472696E6720636F6C756D6E732C20737472696E672066696C7465722C206F626A65637420706172616D312C206F626A65637420706172616D322C206F626A65637420706172616D332C206F626A65637420706172616D342C206F626A65637420706172616D352C206F626A65637420706172616D362C206F626A65637420706172616D372C206F626A65637420706172616D382C206F626A65637420706172616D392C206F626A65637420706172616D3130290D0A09097B0D0A09090969662028737472696E672E49734E756C6C4F72456D707479287461626C6529290D0A090909097468726F77206E657720417267756D656E744E756C6C457863657074696F6E28227461626C6522293B0D0A0D0A090909696620287374617274496E646578203C2030290D0A090909097468726F77206E657720417267756D656E744F75744F6652616E6765457863657074696F6E28227374617274496E64657822293B0D0A0D0A09090969662028737472696E672E49734E756C6C4F72456D70747928636F6C756D6E7329290D0A09090909636F6C756D6E73203D20737472696E672E466F726D617428225B7B307D5D2E2A222C207461626C65293B0D0A0D0A09090969662028737472696E672E49734E756C6C4F72456D707479286F726465724279436F6C756D6E29290D0A090909096F726465724279436F6C756D6E203D20224964223B0D0A0D0A090909737472696E6720636F756E7446696C7465723B0D0A0D0A09090969662028636F756E74203E2030290D0A0909097B0D0A09090909636F756E7446696C746572203D20226265747765656E20405374617274496E64657820616E6420405374617274496E646578202B2040436F756E74223B0D0A09090909636F756E742D2D3B0D0A0909097D0D0A090909656C73652069662028636F756E74203D3D202D31290D0A0909097B0D0A09090909636F756E7446696C746572203D20223E3D20405374617274496E646578223B0D0A0909097D0D0A090909656C73650D0A090909097468726F77206E657720417267756D656E744F75744F6652616E6765457863657074696F6E2822636F756E7422293B0D0A0D0A09090976617220636F6D6D616E64203D206E65772053716C436F6D6D616E6428737472696E672E466F726D61742840220D0A0909090977697468204E756D626572656420617320280D0A090909090973656C65637420726F775F6E756D6265722829206F766572286F72646572206279205B7B307D5D2E7B317D29204E5F526F772C207B337D2066726F6D205B7B307D5D207B327D0D0A09090909290D0A0909090973656C656374202A2066726F6D204E756D62657265640D0A09090909097768657265204E5F526F77202D2031207B347D0D0A090909096F72646572206279204E5F526F77222C207461626C652C206F726465724279436F6C756D6E2C2066696C7465722C20636F6C756D6E732C20636F756E7446696C74657229293B0D0A0D0A090909636F6D6D616E642E506172616D65746572732E4164645769746856616C75652822405374617274496E646578222C207374617274496E646578293B0D0A0D0A09090969662028636F756E7420213D202D31290D0A09090909636F6D6D616E642E506172616D65746572732E4164645769746856616C7565282240436F756E74222C20636F756E74293B0D0A0D0A0909096966202821737472696E672E49734E756C6C4F72456D7074792866696C74657229290D0A0909097B0D0A090909097661722065787465726E616C506172616D73203D206E65775B5D207B20706172616D312C20706172616D322C20706172616D332C20706172616D342C20706172616D352C20706172616D362C20706172616D372C20706172616D382C20706172616D392C20706172616D3130207D3B0D0A0D0A09090909696E7420696E646578203D20303B0D0A09090909666F726561636820284D61746368206D6174636820696E205F72656765782E4D6174636865732866696C74657229290D0A090909097B0D0A09090909096966202821636F6D6D616E642E506172616D65746572732E436F6E7461696E73286D617463682E56616C756529290D0A090909090909636F6D6D616E642E506172616D65746572732E4164645769746856616C7565286D617463682E56616C75652C2065787465726E616C506172616D735B696E6465782B2B5D293B0D0A090909097D0D0A0909097D0D0A0D0A0909097573696E6720286E65772053716C436F6E6E656374696F6E2822636F6E7465787420636F6E6E656374696F6E203D20747275652229290D0A0909090953716C436F6E746578742E506970652E45786563757465416E6453656E6428636F6D6D616E64293B0D0A09097D0D0A097D0D0A7D
AS N'SqlExtendedProcedures.cs'
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'ASSEMBLY',@level0name=N'Ecng.Data.SqlServer'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'E:\!Soft\.NET\Ecng\Data.SqlServer' , @level0type=N'ASSEMBLY',@level0name=N'Ecng.Data.SqlServer'
GO
/****** Object:  Table [dbo].[MarketDataSourceSettings]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketDataSourceSettings](
	[SourceId] [uniqueidentifier] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[WorkingFrom] [time](7) NOT NULL,
	[WorkingTo] [time](7) NOT NULL,
	[Interval] [time](7) NOT NULL,
	[DumpFolder] [nvarchar](2048) NOT NULL,
	[ExtensionInfo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MarketDataSourceSettings] PRIMARY KEY CLUSTERED 
(
	[SourceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorySession]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorySession](
	[GlobalId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HistorySession] PRIMARY KEY CLUSTERED 
(
	[GlobalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strategy]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Strategy](
	[Name] [nvarchar](512) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NOT NULL,
	[Settings] [varbinary](max) NOT NULL,
	[Type] [nvarchar](1024) NOT NULL,
	[GlobalId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Strategy] PRIMARY KEY CLUSTERED 
(
	[GlobalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  StoredProcedure [dbo].[usp_RethrowError]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_RethrowError]
AS -- Return if there is no error information to retrieve.
IF ERROR_NUMBER() IS NULL
  RETURN ;

DECLARE @ErrorMessage NVARCHAR(4000),
  @ErrorNumber INT,
  @ErrorSeverity INT,
  @ErrorState INT,
  @ErrorLine INT,
  @ErrorProcedure NVARCHAR(200) ;

    -- Assign variables to error-handling functions that
    -- capture information for RAISERROR.
SELECT  @ErrorNumber = ERROR_NUMBER(), @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE(), @ErrorLine = ERROR_LINE(),
        @ErrorProcedure = ISNULL(ERROR_PROCEDURE(), '-') ;

    -- Building the message string that will contain original
    -- error information.
SELECT  @ErrorMessage = N'Error %d, Level %d, State %d, Procedure %s, Line %d, ' +
        'Message: ' + ERROR_MESSAGE() ;

    -- Raise an error: msg_str parameter of RAISERROR will contain
    -- the original error information.
RAISERROR (@ErrorMessage, @ErrorSeverity, 1, @ErrorNumber, -- parameter: original error number.
  @ErrorSeverity, -- parameter: original error severity.
  @ErrorState, -- parameter: original error state.
  @ErrorProcedure, -- parameter: original error procedure name.
  @ErrorLine-- parameter: original error line number.
        ) ;
GO
/****** Object:  Table [dbo].[Security]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Security](
	[Id] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[Code] [nvarchar](256) NOT NULL,
	[Class] [nvarchar](256) NOT NULL,
	[ShortName] [nvarchar](256) NOT NULL,
	[MinStepSize] [real] NOT NULL,
	[MinStepPrice] [real] NOT NULL,
	[MinLotSize] [int] NOT NULL,
	[Decimals] [int] NOT NULL,
	[OpenPrice] [real] NOT NULL,
	[ClosePrice] [real] NOT NULL,
	[LowPrice] [real] NOT NULL,
	[HighPrice] [real] NOT NULL,
	[State] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[MinPrice] [real] NOT NULL,
	[MaxPrice] [real] NOT NULL,
	[MarginBuy] [real] NOT NULL,
	[MarginSell] [real] NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[SettlementDate] [datetime] NULL,
	[ExtensionInfo] [nvarchar](max) NOT NULL,
	[LastTradeId] [bigint] NOT NULL,
	[LastTradeTime] [datetime2](7) NOT NULL,
	[LastTradePrice] [real] NOT NULL,
	[LastTradeVolume] [int] NOT NULL,
	[LastTradeOrderDirection] [int] NULL,
	[BestBidPrice] [real] NOT NULL,
	[BestBidVolume] [int] NOT NULL,
	[BestBidOrderDirection] [int] NOT NULL,
	[BestAskPrice] [real] NOT NULL,
	[BestAskVolume] [int] NOT NULL,
	[BestAskOrderDirection] [int] NOT NULL,
	[Exchange] [nvarchar](64) NOT NULL,
	[UnderlyingSecurityId] [nvarchar](256) NULL,
	[Strike] [real] NOT NULL,
	[OptionType] [int] NULL,
	[Volatility] [real] NOT NULL,
	[TheorPrice] [real] NOT NULL
 CONSTRAINT [PK_Security] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[Name] [nvarchar](256) NOT NULL,
	[Leverage] [real] NOT NULL,
	[BeginAmountValue] [real] NOT NULL,
	[CurrentAmountValue] [real] NOT NULL,
	[BeginAmountType] [int] NOT NULL,
	[CurrentAmountType] [int] NOT NULL,
	[Exchange] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Portfolio] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PageSelect]    Script Date: 04/07/2011 16:05:12 ******/
CREATE PROCEDURE [dbo].[PageSelect]
	@table [nvarchar](4000),
	@startIndex [bigint],
	@count [bigint],
	@orderByColumn [nvarchar](4000) = null,
	@columns [nvarchar](4000) = null,
	@filter [nvarchar](4000) = null,
	@param1 [sql_variant] = null,
	@param2 [sql_variant] = null,
	@param3 [sql_variant] = null,
	@param4 [sql_variant] = null,
	@param5 [sql_variant] = null,
	@param6 [sql_variant] = null,
	@param7 [sql_variant] = null,
	@param8 [sql_variant] = null,
	@param9 [sql_variant] = null,
	@param10 [sql_variant] = null
AS
EXTERNAL NAME [Ecng.Data.SqlServer].[Ecng.Data.SqlServer.SqlExtendedProcedures].[PageSelect]
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'PageSelect'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'SqlExtendedProcedures.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'PageSelect'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=21 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'PageSelect'
GO
/****** Object:  StoredProcedure [dbo].[MarketDataSourceSettings_UpdateBySourceId]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MarketDataSourceSettings_UpdateBySourceId]
	@SourceId as uniqueidentifier,
	@IsEnabled as bit,
	@WorkingFrom as time(7),
	@WorkingTo as time(7),
	@Interval as time(7),
	@DumpFolder nvarchar(2048),
	@ExtensionInfo nvarchar(max)
as
if (exists(select * from MarketDataSourceSettings where SourceId = @SourceId))
	update MarketDataSourceSettings
	set
		IsEnabled = @IsEnabled,
		WorkingFrom = @WorkingFrom,
		WorkingTo = @WorkingTo,
		Interval = @Interval,
		DumpFolder = @DumpFolder,
		ExtensionInfo = @ExtensionInfo
	where
		SourceId = @SourceId
else
	insert into MarketDataSourceSettings
		(SourceId, IsEnabled, WorkingFrom, WorkingTo, Interval, DumpFolder, ExtensionInfo)
	values
		(@SourceId, @IsEnabled, @WorkingFrom, @WorkingTo, @Interval, @DumpFolder, @ExtensionInfo)
GO
/****** Object:  StoredProcedure [dbo].[MarketDataSourceSettings_ReadBySourceId]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MarketDataSourceSettings_ReadBySourceId]
	@SourceId uniqueidentifier
as
select * from MarketDataSourceSettings where SourceId = @SourceId
GO
/****** Object:  StoredProcedure [dbo].[HistorySession_Count]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HistorySession_Count]
as
select count(*) from HistorySession
GO
/****** Object:  StoredProcedure [dbo].[Exchange_Count]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exchange_Count]
as
select count(*) from Exchange
GO
/****** Object:  StoredProcedure [dbo].[Exchange_UpdateByName]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exchange_UpdateByName]
	@Name as nvarchar(64),
	@Times as nvarchar(max),
	@SpecialWorkingDays as nvarchar(max),
	@SpecialHolidays as nvarchar(max),
	@ExtensionInfo as nvarchar(max)
as
if (exists(select * from Exchange where Name = @Name))
	update Exchange
	set
		Times = @Times,
		SpecialWorkingDays = @SpecialWorkingDays,
		SpecialHolidays = @SpecialHolidays,
		ExtensionInfo = @ExtensionInfo
	where
		Name = @Name
else
	insert into Exchange
		(Name, Times, SpecialWorkingDays, SpecialHolidays, ExtensionInfo)
	values
		(@Name, @Times, @SpecialWorkingDays, @SpecialHolidays, @ExtensionInfo)
GO
/****** Object:  StoredProcedure [dbo].[Exchange_ReadByName]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exchange_ReadByName]
	@Name as nvarchar(64)
as
select * from Exchange where Name = @Name
GO
/****** Object:  StoredProcedure [dbo].[Exchange_ReadAll]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Exchange_ReadAll]
	@StartIndex bigint,
	@Count bigint,
	@OrderBy nvarchar(50)
as
exec PageSelect 'Exchange', @StartIndex, @Count, @OrderBy
GO
/****** Object:  Table [dbo].[HydraSecurityInfo]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HydraSecurityInfo](
	[Security] [nvarchar](256) NOT NULL,
	[TradeSource] [nvarchar](128) NULL,
	[DepthSource] [nvarchar](128) NULL,
	[Source] [nvarchar](128) NOT NULL,
	[IsSelected] [bit] NOT NULL,
	[TradeCount] [int] NOT NULL,
	[DepthCount] [int] NOT NULL,
	[FinamMarketId] [int] NULL,
	[FinamSecurityId] [int] NULL,
	[LastUpdateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [bigint] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
	[Volume] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Security] [nvarchar](256) NOT NULL,
	[Balance] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Comment] [nvarchar](1024) NOT NULL,
	[TransactionId] [bigint] NOT NULL,
	[State] [tinyint] NOT NULL,
	[Portfolio] [nvarchar](256) NOT NULL,
	[CancelTime] [datetime] NOT NULL,
	[Direction] [tinyint] NOT NULL,
	[ExecutionCondition] [tinyint] NOT NULL,
	[GlobalId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[GlobalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[HistorySession_ReadAll]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HistorySession_ReadAll]
	@StartIndex bigint,
	@Count bigint,
	@OrderBy nvarchar(50)
as
exec PageSelect 'HistorySession', @StartIndex, @Count, @OrderBy
GO
/****** Object:  Table [dbo].[Position]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Portfolio] [nvarchar](256) NOT NULL,
	[Security] [nvarchar](256) NOT NULL,
	[BeginValue] [int] NOT NULL,
	[CurrentValue] [int] NOT NULL,
	[BlockedValue] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trade](
	[Id] [bigint] NOT NULL,
	[Security] [nvarchar](256) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
	[Volume] [int] NOT NULL,
	[GlobalId] [uniqueidentifier] NOT NULL,
	[OrderDirection] [int] NULL,
 CONSTRAINT [PK_Trade] PRIMARY KEY CLUSTERED 
(
	[GlobalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Security_ReadAll]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Security_ReadAll]
	@StartIndex bigint,
	@Count bigint,
	@OrderBy nvarchar(50)
as
exec PageSelect 'Security', @StartIndex, @Count, @OrderBy
GO
/****** Object:  StoredProcedure [dbo].[Security_Count]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Security_Count]
as
select count(*) from [Security]
GO
/****** Object:  StoredProcedure [dbo].[Security_UpdateById]    Script Date: 04/07/2011 16:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Security_UpdateById]
	@Id as nvarchar(256),
	@Name as nvarchar(512),
	@Code as nvarchar(256),
	@Class as nvarchar(256),
	@ShortName as nvarchar(256),
	@MinStepSize real,
	@MinStepPrice real,
	@MinLotSize real,
	@Decimals real,
	@OpenPrice real,
	@ClosePrice real,
	@LowPrice real,
	@HighPrice real,
	@State int,
	@Type int,
	@MinPrice real,
	@MaxPrice real,
	@MarginBuy real,
	@MarginSell real,
	@ExpiryDate datetime,
	@SettlementDate datetime,
	@ExtensionInfo nvarchar(max),
	@LastTradeId bigint,
	@LastTradeTime datetime2(7),
	@LastTradePrice real,
	@LastTradeVolume int,
	@LastTradeOrderDirection int,
	@BestBidPrice real,
	@BestBidVolume int,
	@BestBidOrderDirection int,
	@BestAskPrice real,
	@BestAskVolume int,
	@BestAskOrderDirection int,
	@Exchange nvarchar(64),
	@UnderlyingSecurityId nvarchar(256),
	@Strike real,
	@OptionType int,
	@Volatility real,
	@TheorPrice real
as
begin transaction

declare @ExtensionInfoXml xml
set @ExtensionInfoXml = convert(xml, @ExtensionInfo, 1)

declare @FinamMarketId bigint
declare @FinamSecurityId bigint
declare @Source nvarchar(128)
declare @TradeSource nvarchar(128)
declare @DepthSource nvarchar(128)
declare @IsSelected bit
declare @TradeCount int
declare @DepthCount int
declare @LastUpdateTime datetime

set @FinamMarketId = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "FinamMarketId"]/value/Value)[1]', 'bigint')
set @FinamSecurityId = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "FinamSecurityId"]/value/Value)[1]', 'bigint')
set @Source = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "Source"]/value/Value)[1]', 'nvarchar(128)')
set @TradeSource = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "TradeSource"]/value/Value)[1]', 'nvarchar(128)')
set @DepthSource = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "DepthSource"]/value/Value)[1]', 'nvarchar(128)')
set @IsSelected = IsNull(@ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "IsSelected"]/value/Value)[1]', 'bit'), 0)
set @TradeCount = IsNull(@ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "TradeCount"]/value/Value)[1]', 'int'), 0)
set @DepthCount = IsNull(@ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "DepthCount"]/value/Value)[1]', 'int'), 0)
--set @LastUpdateTime = @ExtensionInfoXml.value(N'(/IDictionaryBeginObjectAndObjectEnd/KeyValuePairBeginObjectAndObjectEnd[key/Value = "LastUpdateTime"]/value/Value)[1]', 'datetime')

begin try
	if (exists(select * from [Security] where Id = @Id))
	begin
		update [Security]
		set
			Name = @Name,
			Code = @Code,
			Class = @Class,
			ShortName = @ShortName,
			MinStepSize = @MinStepSize,
			MinStepPrice = @MinStepPrice,
			MinLotSize = @MinLotSize,
			Decimals = @Decimals,
			OpenPrice = @OpenPrice,
			ClosePrice = @ClosePrice,
			LowPrice = @LowPrice,
			HighPrice = @HighPrice,
			[State] = @State,
			[Type] = @Type,
			MinPrice = @MinPrice,
			MaxPrice = @MaxPrice,
			MarginBuy = @MarginBuy,
			MarginSell = @MarginSell,
			ExpiryDate = @ExpiryDate,
			SettlementDate = @SettlementDate,
			ExtensionInfo = @ExtensionInfo,
			LastTradeId = @LastTradeId,
			LastTradeTime = @LastTradeTime,
			LastTradePrice = @LastTradePrice,
			LastTradeVolume = @LastTradeVolume,
			LastTradeOrderDirection = @LastTradeOrderDirection,
			BestBidPrice = @BestBidPrice,
			BestBidVolume = @BestBidVolume,
			BestBidOrderDirection = @BestBidOrderDirection,
			BestAskPrice = @BestAskPrice,
			BestAskVolume = @BestAskVolume,
			BestAskOrderDirection = @BestAskOrderDirection,
			Exchange = @Exchange,
			UnderlyingSecurityId = @UnderlyingSecurityId,
			Strike = @Strike,
			OptionType = @OptionType,
			Volatility = @Volatility,
			TheorPrice = @TheorPrice
		where
			Id = @Id

		update HydraSecurityInfo
		set
			FinamMarketId = @FinamMarketId,
			FinamSecurityId = @FinamSecurityId,
			[Source] = @Source,
			TradeSource = @TradeSource,
			DepthSource = @DepthSource,
			IsSelected = @IsSelected,
			TradeCount = @TradeCount,
			DepthCount = @DepthCount,
			LastUpdateTime = @LastUpdateTime
		where
			[Security] = @Id
	end
	else
	begin
		insert into [Security]
			(Id, Name, Code, Class, ShortName, MinStepSize, MinStepPrice, MinLotSize, Decimals,
			OpenPrice, ClosePrice, LowPrice, HighPrice, [State], [Type], MinPrice, MaxPrice, MarginBuy, MarginSell, ExpiryDate,
			SettlementDate, ExtensionInfo, LastTradeId, LastTradeTime, LastTradePrice, LastTradeVolume, LastTradeOrderDirection,
			BestBidPrice, BestBidVolume, BestBidOrderDirection, BestAskPrice, BestAskVolume, BestAskOrderDirection, Exchange, 
			OptionType, Strike,UnderlyingSecurityId, Volatility, TheorPrice)
		values
			(@Id, @Name, @Code, @Class, @ShortName, @MinStepSize, @MinStepPrice, @MinLotSize, @Decimals,
			@OpenPrice, @ClosePrice, @LowPrice, @HighPrice, @State, @Type, @MinPrice, @MaxPrice, @MarginBuy, @MarginSell, @ExpiryDate,
			@SettlementDate, @ExtensionInfo, @LastTradeId, @LastTradeTime, @LastTradePrice, @LastTradeVolume, @LastTradeOrderDirection,
			@BestBidPrice, @BestBidVolume, @BestBidOrderDirection, @BestAskPrice, @BestAskVolume, @BestAskOrderDirection, @Exchange,
			@OptionType, @Strike, @UnderlyingSecurityId, @Volatility, @TheorPrice)

		insert into HydraSecurityInfo
			([Security], TradeSource, DepthSource, [Source], IsSelected, TradeCount, DepthCount, FinamMarketId, FinamSecurityId, LastUpdateTime)
		values
           (@Id, @TradeSource, @DepthSource, @Source, @IsSelected, @TradeCount, @DepthCount, @FinamMarketId, @FinamSecurityId, @LastUpdateTime)
	end
end try
begin catch
	if @@TRANCOUNT > 0
		rollback transaction
		
	print 'Error Number: ' + str(error_number()) 
	print  'Line Number: ' + str(error_line())
	print  error_message()
	
	exec usp_RethrowError
end catch

if @@TRANCOUNT > 0
	commit transaction
GO
/****** Object:  Table [dbo].[OrderFail]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFail](
	[Order] [uniqueidentifier] NOT NULL,
	[Error] [nvarchar](max) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyTrade]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyTrade](
	[Order] [uniqueidentifier] NOT NULL,
	[Trade] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorySessionOrder]    Script Date: 04/07/2011 16:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorySessionOrder](
	[Session] [uniqueidentifier] NOT NULL,
	[Order] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_HistorySessionOrder_Order]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[HistorySessionOrder]  WITH CHECK ADD  CONSTRAINT [FK_HistorySessionOrder_Order] FOREIGN KEY([Order])
REFERENCES [dbo].[Order] ([GlobalId])
GO
ALTER TABLE [dbo].[HistorySessionOrder] CHECK CONSTRAINT [FK_HistorySessionOrder_Order]
GO
/****** Object:  ForeignKey [FK_HistorySessionOrder_Session]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[HistorySessionOrder]  WITH CHECK ADD  CONSTRAINT [FK_HistorySessionOrder_Session] FOREIGN KEY([Session])
REFERENCES [dbo].[HistorySession] ([GlobalId])
GO
ALTER TABLE [dbo].[HistorySessionOrder] CHECK CONSTRAINT [FK_HistorySessionOrder_Session]
GO
/****** Object:  ForeignKey [FK_HydraSecurityInfo_Security]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[HydraSecurityInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_HydraSecurityInfo_Security] FOREIGN KEY([Security])
REFERENCES [dbo].[Security] ([Id])
GO
ALTER TABLE [dbo].[HydraSecurityInfo] CHECK CONSTRAINT [FK_HydraSecurityInfo_Security]
GO
/****** Object:  ForeignKey [FK_MyTrade_Order]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[MyTrade]  WITH NOCHECK ADD  CONSTRAINT [FK_MyTrade_Order] FOREIGN KEY([Order])
REFERENCES [dbo].[Order] ([GlobalId])
GO
ALTER TABLE [dbo].[MyTrade] CHECK CONSTRAINT [FK_MyTrade_Order]
GO
/****** Object:  ForeignKey [FK_MyTrade_Trade]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[MyTrade]  WITH NOCHECK ADD  CONSTRAINT [FK_MyTrade_Trade] FOREIGN KEY([Trade])
REFERENCES [dbo].[Trade] ([GlobalId])
GO
ALTER TABLE [dbo].[MyTrade] CHECK CONSTRAINT [FK_MyTrade_Trade]
GO
/****** Object:  ForeignKey [FK_Order_Portfolio]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Portfolio] FOREIGN KEY([Portfolio])
REFERENCES [dbo].[Portfolio] ([Name])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Portfolio]
GO
/****** Object:  ForeignKey [FK_Order_Security]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_Security] FOREIGN KEY([Security])
REFERENCES [dbo].[Security] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Security]
GO
/****** Object:  ForeignKey [FK_OrderFail_Order]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[OrderFail]  WITH CHECK ADD  CONSTRAINT [FK_OrderFail_Order] FOREIGN KEY([Order])
REFERENCES [dbo].[Order] ([GlobalId])
GO
ALTER TABLE [dbo].[OrderFail] CHECK CONSTRAINT [FK_OrderFail_Order]
GO
/****** Object:  ForeignKey [FK_Portfolio_Exchange]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Portfolio]  WITH CHECK ADD  CONSTRAINT [FK_Portfolio_Exchange] FOREIGN KEY([Exchange])
REFERENCES [dbo].[Exchange] ([Name])
GO
ALTER TABLE [dbo].[Portfolio] CHECK CONSTRAINT [FK_Portfolio_Exchange]
GO
/****** Object:  ForeignKey [FK_Position_Portfolio]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_Portfolio] FOREIGN KEY([Portfolio])
REFERENCES [dbo].[Portfolio] ([Name])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_Portfolio]
GO
/****** Object:  ForeignKey [FK_Position_Security]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Position]  WITH NOCHECK ADD  CONSTRAINT [FK_Position_Security] FOREIGN KEY([Security])
REFERENCES [dbo].[Security] ([Id])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_Security]
GO
/****** Object:  ForeignKey [FK_Security_Exchange]    Script Date: 04/07/2011 16:04:14 ******/
ALTER TABLE [dbo].[Security]  WITH NOCHECK ADD  CONSTRAINT [FK_Security_Exchange] FOREIGN KEY([Exchange])
REFERENCES [dbo].[Exchange] ([Name])
GO
ALTER TABLE [dbo].[Security] CHECK CONSTRAINT [FK_Security_Exchange]
GO
/****** Object:  ForeignKey [FK_Trade_Security]    Script Date: 04/07/2011 16:04:15 ******/
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD  CONSTRAINT [FK_Trade_Security] FOREIGN KEY([Security])
REFERENCES [dbo].[Security] ([Id])
GO
ALTER TABLE [dbo].[Trade] CHECK CONSTRAINT [FK_Trade_Security]
GO
GRANT EXECUTE ON [dbo].[Exchange_Count] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Exchange_ReadAll] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Exchange_ReadByName] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Exchange_UpdateByName] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[HistorySession_Count] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[HistorySession_ReadAll] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[MarketDataSourceSettings_ReadBySourceId] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[MarketDataSourceSettings_UpdateBySourceId] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Security_Count] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Security_ReadAll] TO [trading] AS [dbo]
GO
GRANT EXECUTE ON [dbo].[Security_UpdateById] TO [trading] AS [dbo]
GO

EXEC sp_addrolemember N'db_datareader', N'trading'